<div class="ui container">
  <div class="ui inverted  menu">
    <a href="#" class="header item">
        BookApp Ember
    </a>
    <a class="item">
    Create Book
  </a>
  </div>
</div>

{{outlet}}